@import 'tailwindcss';

@font-face {
  font-family: 'FiraMono';
  src: url('/font/FiraMono-Regular.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('/font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('/font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'BaileyReg';
  src: url('/font/Bailey-Regular.ttf');
}

@font-face {
  font-family: 'BaileyBold';
  src: url('/font/Bailey-Bold.ttf');
}

@font-face {
  font-family: 'Symbols';
  src: url('/font/Symbols.ttf');
}

:root {
  --color-bg-base: #fff;

  --color-primary: #f5f5f5;
  --color-primary-hover-border: #6a7ea5;
  --color-primary-buttons: #eceff1;
  --color-primary-buttons-hover: #cfd8dc;
  --color-primary-buttons-active: #cfd8dc;

  --color-primary-text: black;
  --color-primary-placeholder-text: gray;
  --color-primary-interactive-text: blue;
  --color-primary-separator: rgba(163, 163, 163, 0.296);
  --color-primary-separator-dark: black;

  --color-secondary: #e7ecee;
  --color-secondary-darker: #cfd8dc;
  --color-secondary-light: #fafafa;
  --color-secondary-active: #add8e6;
  --color-secondary-ultra-light-border: #95969853;
  --color-secondary-border: #6a7ea5;
  --color-secondary-buttons: #eceff1;
  --color-secondary-buttons-hover: #cfd8dc;
  --color-secondary-buttons-active: #cfd8dc;
  --color-secondary-buttons-disabled: #d6d4d4;
  --color-secondary-buttons-darker: #cfd8dc;
  --color-secondary-buttons-darker-hover: #b0bec5;
  --color-secondary-text-inputs: #fafafa;
  --color-secondary-text-inputs-border: #cfd8dc;
  --color-secondary-highlight: #b0bec5;
  --color-secondary-medium-highlight: #bfcfd7;
  --color-secondary-light-highlight: #e7ecee94;
  --color-highlight: #cfd8dc;

  --color-secondary-text: black;
  --color-secondary-text-active: #cfd8dc;
  --color-secondary-placeholder-text: gray;

  --color-tertiary: #cfd8dc;
  --color-tertiary-light: #dfe8ec;
  --color-tertiary-buttons: #f5f5f5;
  --color-tertiary-buttons-hover: #cbcbcb;
  --color-tertiary-buttons-hover-darker: #8a8a8a;
  --color-tertiary-light-highlight: #d9e6e7;

  --color-tertiary-text: black;

  --color-tooltip: #c2d3dae9;
  --color-tooltip-text: #464545;

  --color-negative: #d05d5d;
  --color-positive: #4abd73;
  --color-neutral: #bebebe;

  --color-regulation-inhibition: #d05d5d;
  --color-regulation-activation: #4abd73;
  --color-regulation-unspecified: #bebebe;
  --color-regulation-observable: black;
  --color-regulation-non-observable: #bebebe;

  --color-control-enabled: #f3d491;
  --color-control-enabled-highlight: #f3ddaf;
  --color-not-control-enabled: #bebebe;
  --color-not-control-enabled-highlight: #d0d0d0;
  --color-control-enabled-status-text: black;

  --color-in-phenotype-true: #4abd73;
  --color-in-phenotype-true-highlight: #82d8a0;
  --color-in-phenotype-false: #d05d5d;
  --color-in-phenotype-false-highlight: #d87e7e;
  --color-not-in-phenotype: #bebebe;
  --color-not-in-phenotype-highlight: #d0d0d0;
  --color-phenotype-status-text: black;

  --color-present-in-perturbation:#9c6ade;
  --color-present-in-perturbation-highlight: #a773eb;

  --color-model-node: #dddddd;
  --color-model-node-text: black;
  --color-model-node-border: #bbbbbb;
  --color-model-node-border-hover: #6a7ea5;
  --color-model-node-border-fit: #797979;
  --color-model-node-border-selected: #6a7ea5;
  --color-model-edge-preview: #797979;
  --color-model-edge-handle-box-color: #6a7ea5;
  --color-model-edge-handle-icon-color: #ffffff;

  --color-attractor-visualizer-node: #ffffff;
  --color-attractor-visualizer-node-border: #3a568c;
  --color-attractor-visualizer-highlighted-node: #e5eeff;
  --color-attractor-visualizer-node-highlighted-border: #3a568c;
  --color-attractor-visualizer-edge: #3a568c;
  --color-attractor-visualizer-node-text: black;

  --color-attractor-bifurcation-explorer-node-background: #dddddd;
  --color-attractor-bifurcation-explorer-node-border: #bbbbbb;
  --color-attractor-bifurcation-explorer-node-selected-border: #6a7ea5;
  --color-attractor-bifurcation-explorer-node-unprocessed-background: #efefef;
  --color-attractor-bifurcation-explorer-node-unprocessed-border: #616161;
  --color-attractor-bifurcation-explorer-node-leaf-border: #546e7a;
  --color-attractor-bifurcation-explorer-node-disorder-background: #ffe0b2;
  --color-attractor-bifurcation-explorer-node-oscillation-background: #f0f4c3;
  --color-attractor-bifurcation-explorer-node-stability-background: #b2dfdb;
  --color-attractor-bifurcation-explorer-edge-positive: #4abd73;
  --color-attractor-bifurcation-explorer-edge-negative: #d05d5d;
  --color-attractor-bifurcation-explorer-remove-button-background: #d05d5d;
  --color-attractor-bifurcation-explorer-remove-button-icon: #ffffff;

  --color-delete: #f8b4b4;
  --color-delete-hover: #d05d5d;
  --color-delete-active: #b94a4a;

  /* --color-bg-base: #9c27b0;

  --color-primary: #9c27b0;
  --color-primary-buttons: #9c27b0;
  --color-primary-buttons-hover: #9c27b0;
  --color-primary-buttons-active: #9c27b0;

  --color-primary-text: #9c27b0;
  --color-primary-placeholder-text: #9c27b0;
  --color-primary-interactive-text: #9c27b0;
  --color-primary-separator: #9c27b0;
  --color-primary-separator-dark: #9c27b0;

  --color-secondary: #9c27b0;
  --color-secondary-darker: #9c27b0;
  --color-secondary-light: #9c27b0;
  --color-secondary-active: #9c27b0;
  --color-secondary-border: #9c27b0;
  --color-secondary-buttons: #9c27b0;
  --color-secondary-buttons-hover: #9c27b0;
  --color-secondary-buttons-active: #9c27b0;
  --color-secondary-buttons-darker: #9c27b0;
  --color-secondary-buttons-darker-hover: #9c27b0;
  --color-secondary-text-inputs: #9c27b0;
  --color-secondary-text-inputs-border: #9c27b0;
  --color-secondary-highlight: #9c27b0;
  --color-secondary-light-highlight: #9c27b0;
  --color-highlight: #9c27b0;

  --color-secondary-text: #9c27b0;
  --color-secondary-text-active: #9c27b0;
  --color-secondary-placeholder-text: #9c27b0;

  --color-tertiary: #9c27b0;
  --color-tertiary-buttons: #9c27b0;
  --color-tertiary-buttons-hover: #9c27b0;
  --color-tertiary-light-highlight: #9c27b0;

  --color-tertiary-text: #9c27b0;

  --color-tooltip: #9c27b0;
  --color-tooltip-text: #9c27b0;

  --color-negative: #9c27b0;
  --color-positive: #9c27b0;
  --color-neutral: #9c27b0;

  --color-regulation-inhibition: #9c27b0;
  --color-regulation-activation: #9c27b0;
  --color-regulation-unspecified: #9c27b0;
  --color-regulation-observable: #9c27b0;
  --color-regulation-non-observable: #9c27b0;

  --color-control-enabled: #9c27b0;
  --color-control-enabled-highlight: #9c27b0;
  --color-not-control-enabled: #9c27b0;
  --color-not-control-enabled-highlight: #9c27b0;
  --color-control-enabled-status-text: #9c27b0;

  --color-in-phenotype-true: #9c27b0;
  --color-in-phenotype-true-highlight: #9c27b0;
  --color-in-phenotype-false: #9c27b0;
  --color-in-phenotype-false-highlight: #9c27b0;
  --color-not-in-phenotype: #9c27b0;
  --color-not-in-phenotype-highlight: #9c27b0;
  --color-phenotype-status-text: #9c27b0;

  --color-model-node: #9c27b0;
  --color-model-node-text: #9c27b0;
  --color-model-node-border: #9c27b0;
  --color-model-node-border-hover: #9c27b0;
  --color-model-node-border-fit: #9c27b0;
  --color-model-node-border-selected: #9c27b0;
  --color-model-edge-preview: #9c27b0;
  --color-model-edge-handle-box-color: #9c27b0;
  --color-model-edge-handle-icon-color: #9c27b0;

  --color-attractor-visualizer-node: #9c27b0;
  --color-attractor-visualizer-node-border: #9c27b0;
  --color-attractor-visualizer-highlighted-node: #9c27b0;
  --color-attractor-visualizer-node-highlighted-border: #9c27b0;
  --color-attractor-visualizer-node-text: #9c27b0;

  --color-delete: #9c27b0;
  --color-delete-hover: #9c27b0;
  --color-delete-active: #9c27b0; */

  --color-grey: #bebebe;
  --color-darker-grey: #b1b1b1ff;
  --color-grey-light: #d6d4d4;
  --color-grey-blue-light: #cfd8dc;
  --color-grey-blue-ultra-light: #eceff1;
  --color-green: #4abd73;
  --color-green-light: #a8e6cf;
  --color-red: #d05d5d;
  --color-darker-red: #b94a4a;
  --color-red-light: #f8b4b4;
  --color-yellow: #f3d491;
  --color-yellow-light: #ffe8aa;
  --color-violet: #9c6ade;

  --base-font-family: 'Helvetica', 'Arial', sans-serif;
  --font-family-fira-mono: 'FiraMono', 'monospace';
  --font-family-fira-bold: 'FiraMonoBold', 'monospace';

  --base-text-color: black;
  --lighter-text-color: #464545;
  --placeholder-text-color: gray;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;
  transition: 0.03s;

  font-family: var(--base-font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  font-family: 'FiraMono';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/** Scrollbar styling */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-grey, #bebebe)
    var(--color-grey-blue-ultra-light, #eceff1);
}
