@import 'tailwindcss';

@font-face {
  font-family: 'FiraMono';
  src: url('./font/FiraMono-Regular.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('./font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('./font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'BaileyBold';
  src: url('./font/BaileyBold.ttf');
}

:root {
  --color-bg-base: #fff;

  --color-red: #d05d5d;

  --font-family-fira-mono: 'FiraMono', 'monospace';
  --font-family-fira-bold: 'FiraMonoBold', 'monospace';

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;
  transition: 0.03s;

  font-family: 'Helvetica', 'Arial', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}
