@import 'tailwindcss';

@font-face {
  font-family: 'FiraMono';
  src: url('./font/FiraMono-Regular.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('./font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'FiraMonoBold';
  src: url('./font/FiraMono-Bold.ttf');
}

@font-face {
  font-family: 'BaileyReg';
  src: url('./font/Bailey-Regular.ttf');
}

@font-face {
  font-family: 'BaileyBold';
  src: url('./font/Bailey-Bold.ttf');
}

@font-face {
  font-family: 'Symbols';
  src: url('./font/Symbols.ttf');
}

:root {
  --color-bg-base: #fff;
  --color-secondary: #e7ecee;
  --color-highlight: #cfd8dc;

  --color-grey: #bebebe;
  --color-grey-light: #d6d4d4;
  --color-grey-blue-light: #cfd8dc;
  --color-grey-blue-ultra-light: #eceff1;
  --color-green: #4abd73;
  --color-green-light: #a8e6cf;
  --color-red: #d05d5d;
  --color-red-light: #f8b4b4;
  --color-yellow: #f3d491;
  --color-yellow-light: #ffe8aa;
  --color-violet: #9c6ade;

  --base-font-family: 'Helvetica', 'Arial', sans-serif;
  --font-family-fira-mono: 'FiraMono', 'monospace';
  --font-family-fira-bold: 'FiraMonoBold', 'monospace';

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;
  transition: 0.03s;

  font-family: var(--base-font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}
